.body {
  background-color: #0f4249;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #0f4249 11px
    ),
    repeating-linear-gradient(#c2c2cf55, #c2c2cf);
  height: 100vh;
}
