/* start global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */

/* start login */
.login {
  background-image: url(./../imgs/cover.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.login form {
  z-index: 2;
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  padding: 80px;
  border-radius: 6px;
  align-items: center;
  /*  */
  background: rgba(224, 196, 196, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(224, 196, 196, 0.42);
}
.login form img {
  height: 150px;
  width: 150px;
  margin-bottom: 30px;
}
.login [type="email"] {
  border: inherit;
  outline: inherit;
  padding: 15px;
  background-color: #eee;
  border-radius: 10px;
  width: 110%;
}

.login [type="password"] {
  margin: 10px;
  border: inherit;
  outline: inherit;
  padding: 15px;
  background-color: #eee;
  border-radius: 10px;
  width: 110%;
}

.login [type="submit"] {
  border: inherit;
  outline: inherit;
  padding: 15px;
  color: white;
  padding: 10px 30px;
  border-radius: 4px;
  margin-top: 5px;
  background-color: #755353;
  margin-top: 20px;
}
/* end login */
